@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --primary: #222222;
  /* Your default theme */
  --background: white;
  --foreground: var(--primary);
}

[data-theme='dark'] {
  --background: var(--primary);
  --foreground: white;
}


